<div id="card-dates" class="p-4">
    <dl class="space-y-3">
        {% if revision.revision_date_of_creation %}
        <div>
            <dt class="text-xs text-gray-500 uppercase font-medium">Datum vytvoření</dt>
            <dd class="font-medium text-gray-900 mt-1">{{ revision.revision_date_of_creation.strftime('%d.%m.%Y') }}</dd>
        </div>
        {% endif %}
        
        {% if revision.revision_start_date %}
        <div>
            <dt class="text-xs text-gray-500 uppercase font-medium">Datum zahájení</dt>
            <dd class="font-medium text-gray-900 mt-1">{{ revision.revision_start_date.strftime('%d.%m.%Y') }}</dd>
        </div>
        {% endif %}
        
        {% if revision.revision_end_date %}
        <div>
            <dt class="text-xs text-gray-500 uppercase font-medium">Datum ukončení</dt>
            <dd class="font-medium text-gray-900 mt-1">{{ revision.revision_end_date.strftime('%d.%m.%Y') }}</dd>
        </div>
        {% endif %}
        
        {% if revision.revision_date_of_previous_revision %}
        <div>
            <dt class="text-xs text-gray-500 uppercase font-medium">Datum předchozí revize</dt>
            <dd class="font-medium text-gray-900 mt-1">{{ revision.revision_date_of_previous_revision.strftime('%d.%m.%Y') }}</dd>
        </div>
        {% endif %}
        
        {% if revision.revision_recommended_date_for_next_revision %}
        <div>
            <dt class="text-xs text-gray-500 uppercase font-medium">Doporučené datum příští revize</dt>
            <dd class="font-medium text-gray-900 mt-1">{{ revision.revision_recommended_date_for_next_revision.strftime('%d.%m.%Y') }}</dd>
        </div>
        {% endif %}
    </dl>
</div>
